/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2016, 11:04:35 AM
    Author     : kim
*/

.drop-box.dragover {
    border: 1px dashed blue !important;
}

.drop-box.dragover-err {
    border: 1px dashed red;
}

.drop-box {
    border: 1px dashed #DDD;

    text-align: center;
}