<!doctype html>

<html ng-app="sa-id">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>SA-ID : We can tell you who wrote it!</title>

        <!-- Bootstrap core CSS -->
        <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet" type="text/css"/>
        <!-- Custom styles for this template -->
        <link href="css/cover.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body ng-controller="main">
        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">SA-ID</h3>
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">About Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="inner cover" ng-init="results = ''" ng-controller="main">
                        <p class="lead">STDEV: Enter some comma separated values (numbers) and click Go!</p>
                        <input type="text" ng-model="values" placeholder="Enter values here">
                        <a href="#" class="btn btn-info" ng-click="compute_stdev(values)">Go!</a>
                        <h1>{{results}}</h1>
                    </div>
                    
                    <p class="lead">Files Upload (stored to /upload)</p>
                    <!--https://github.com/danialfarid/ng-file-upload-->

                    <div ngf-drop="uploadFiles($files)" class="drop-box"
                         ngf-drag-over-class="'dragover'" ngf-multiple="true" 
                         ngf-pattern="'.txt,application/pdf'">Drop TXTs or PDFs files here</div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success active" role="progressbar"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}; height:5px">
                        </div>
                    </div>
                    {{upload_result}}


                    <div class="mastfoot">
                        <div class="inner">
                            <p>Project by <a href="mailto:wterrill3@gatech.edu">@Will</a> &amp; <a href="mailto:kdaniel38@gatech.edu">@Kimanii</a></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!--- Load libraries --->

    </body>

    <script src="bower_components/jquery/dist/jquery.min.js"type="text/javascript"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js" type="text/javascript"></script>
    <script src="js/app.js"></script>

</html>
