<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="sa-id">

<head>
    <meta charset="UTF-8">
    <!-- start: Meta -->
    <title>SA-ID : We can tell you who wrote it!</title>
    <meta name="description" content="SA-ID : We can tell you who wrote it!">
    <meta name="keyword" content="authorship identification">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/app.css" rel="stylesheet" type="text/css" />
    <link href="css/dashboard.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
            <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="img/favicon/apple-icon-60x60.png">
    <!-- end: Favicon -->
</head>

<body ng-controller="main" ng-cloak>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SA-ID</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#helpModal">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input class="form-control" ng-model="search_text" placeholder="Search..." type="text">
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div style="border-bottom-width: thin; border-bottom-style: solid">Corpora
                    <button class="btn btn-xs btn-success right" data-toggle="modal" data-target="#newModal" title="Create a new grouping of doucments called a corpus">New</button>
                </div>
                <ul class="nav nav-sidebar">
                    <!--<li class="active"><a href="#">Corpora <span class="sr-only">(current)</span><button class="btn btn-xs btn-success right">New</button></a> </li>-->
                    <li ng-show="isEmpty(corpus_data)"><a href="#">Loading...</a></li>
                    <li ng-repeat="x in corpus_data"><a href="#" ng-class="{'active-corpus': x.corpus === corpus_active.corpus}" ng-click="activate_corpus(x.corpus)">{{x.corpus}}  <span class="badge">{{x.count}}</span></a></li>
                </ul>
            </div>

            <!--- CORGS Animation -->
            <div ng-show="isEmpty(corpus_data) && error===null && 1===2" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main-loading">
                <img src="img/loading-gears-animation-3.gif" alt="" />
                <br> Loading data...
            </div>
            <!--- CORGS Animation -->
            <!--- ERROR alert -->
            <div class="alert alert-danger  fade in col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" ng-hide="error===null">
                <strong>Error!</strong> {{error}}
                <button class="btn btn-danger" ng-click="clear_error()">OK</button>
            </div>
            <!--- ERROR alert -->
            <!--- CORGS Animation -->
            <div ng-hide="working_status === null && error==null " class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main-loading">
                <img src="img/loading-gears-animation-3.gif" alt="" />
                <Br>
                <center>{{working_status}}</center>
                <!--<div class="progress" style="height:5px; width:60%">
                    <div class="progress-bar progress-bar-success active" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}; height:5px">
                    </div>
                </div>-->
            </div>
            <!--- CORGS Animation -->
            <!--- DASHBOARD -->
            <div ng-hide="isEmpty(corpus_data) || working_status !== null " class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Corpus: {{corpus_active.corpus}}</h1>
                <div>

                </div>
                <span class="glyphicons glyphicons-ok-sign"></span>

                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <button data-toggle="tooltip" class="btn btn-primary" ng-click="refresh(corpus_active.corpus)" title="This re-extracts features from all the files in the corpus folder"><span class="badge">1</span> Refresh Corpus</button>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <button data-toggle="tooltip" class="btn btn-primary" ng-click="process(corpus_active.corpus)" title="This builds the models associated with this corpus and must be done before authorship recogntion"><span class="badge">2</span> Process Corpus</button>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <!--<span title="This deletes the entire corpus including database entries, so be careful!" data-toggle='tooltip'>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#delModal" >Delete Corpus</button></span>-->
                    </div>
                    <div ng-hide="corpus_active.data[0].models"><strong>Note: Process Corpus to enable authorship recogntion</strong></div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <div class="drop-box2" ngf-drag-over-class="'dragover'" ngf-drop="UploadIdentifyFile($file, corpus_active.corpus)" ngf-pattern="'.txt,.pdf,application/pdf'" ngf-multiple="false" ng-model="file" ng-show="corpus_active.data[0].models">
                            Drop an <strong>Unknown</strong> file (.txt | .pdf) here for authorship recogntion
                        </div>
                        <div style="margin-top: 5px;"><a href="http://terrilltech.com/sa-id/webservice/stylo/corpus/{{corpus_active.corpus}}/sample.zip">Authorship Sample Files</a></div>

                    </div>

                </div>

                <!-- Modal -->
                <div class="well well-sm" ng-hide="isEmpty(identify_data)">
                    <div style="align:center" class="authorship_id">
                        <h3>Authorship ID: {{identify_data['file']}}</h3></div>
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed" style="margin-bottom: 0px !important;">
                            <thead>
                                <tr>
                                    <th>Author</th>
                                    <th>dtree</th>
                                    <th>etrees</th>
                                    <th>gaussian</th>
                                    <th>rforest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in identify_data" ng-show="row.hasOwnProperty('author')">
                                    <td>{{row.author}}</td>
                                    <td>{{row.dtree*100.00 | number}}%</td>
                                    <td>{{row.etrees*100.00 | number}}%</td>
                                    <td>{{row.guassian*100.00 | number}}%</td>
                                    <td>{{row.rforest*100.00 | number}}%</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="identify_data={};">Close</button>
                    </div>

                </div>
                <!-- Modal -->

                <div class="drop-box" ngf-drag-over-class="'dragover'" ngf-drop="uploadFiles($files, corpus_active.corpus)" ngf-pattern="'.txt,.pdf,application/pdf'" ngf-multiple="true">
                    <h2 class="sub-header">Extracted Features</h2>
                    <div class="table-responsive">
                        <div class="list-help-box">Drop <strong>known</strong> files on this list. All files must be in the format {author}_{filename}.(txt|pdf). If the file does not show up in the list try "Refresh Corpus" button </div>
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Author</th>
                                    <th>Doc</th>
                                    <th>length</th>
                                    <th>Lex div</th>
                                    <th>Avg Sen Len</th>
                                    <th>Avg Para Len</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in corpus_active.data | filter: search_text">
                                    <td>{{row.author}}</td>
                                    <td>{{row.doc}}</td>
                                    <td>{{row.document_len}}</td>
                                    <td>{{row.lex_diversity}}</td>
                                    <td>{{row.mean_sentence_len}}</td>
                                    <td>{{row.mean_paragraph_len}}</td>
                                    <td style="text-align: right;">
                                        <div class="btn-group">
                                        <button type="button" class="btn btn-xs btn-primary" title="View this document" data-toggle="tooltip"><a target="_blank" href="http://terrilltech.com/sa-id/webservice/stylo/corpus/{{corpus_active.corpus}}/{{row.doc}}" style="color: white;text-decoration: none;">View</a></button>
										<button type="button" ng-show="row.models ===1" class="btn btn-xs btn-success" title="Run authorship identification on this document" ng-click="identifyFile(row.corpus,row.doc)" data-toggle="tooltip">Verify</button>
                                        <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" title="Delete the current row" ng-click="del_doc(row.corpus,row.doc)">Delete</button>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div ngf-no-file-drop style="color: #ff0000">File Drag/Drop is not supported for this browser</div>
            </div>
            <!--- DASHBOARD -->
        </div>
    </div>
    <!-- Modals -->
    <div id="newModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Corpus</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" id="corpus_name" ng-model="corpus_name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" ng-click="new_corpus(corpus_name)" data-dismiss="modal">Create</button>
                </div>
            </div>

        </div>
    </div>

    <div id="delModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Corpus</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <h3>Are you show your want to delete <strong>{{corpus_active.corpus}}!</strong></h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button class="btn btn-success" ng-click="del_corpus(corpus_active.corpus)" data-dismiss="modal">Yes</button>
                </div>
            </div>

        </div>
    </div>
    <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <div class="modal-body">
                     <iframe width="100%" height="500" frameborder=0
                    src="http://www.youtube.com/embed/ynsByqdNts0?autoplay=0">
                    </iframe>
                    <img src="img/help.png" style="width: 100%;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</body>

<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angularjs/angular.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.min.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("body").tooltip({
            selector: '[data-toggle=tooltip]'
        });
        $("body").tooltip({
            selector: '[data-toggle=modal]'
        });
		$('#helpModal').modal('show');
    });
</script>

</html>
